.title {
  text-align: center;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}

.image {
  display: block;
  margin : auto;
  width: 50%;
  padding: 10px;
}

p {
  margin: 40px;
}

body {
  height: 100%;
  margin: 0;
  font-family: Optima, sans-serif;
}

.background {
  background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(143,143,138,0) 100%);
}

.btn {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px;
  font-size: 16px;
  cursor: pointer;
  margin: auto;
  display: block;
}

.btn:hover {
  background: rgb(175, 16, 16);
  color: white;
}

.home-btn {
  position: absolute;
  top: 10px;
  right: 40px;
}

a { 
  color: rgb(175, 16, 16) ;
}